Host foob-1
	Hostname 1.2.3.4
	PubkeyAuthentication yes
	PasswordAuthentication no
	IdentityFile ~/.ssh/foobar
	User root
	Port 22


Host !router
	PasswordAuthentication yes
	PubkeyAuthentication yes
	IdentityFile ~/.ssh/id_rsa
	User root
	Port 22
	Hostname 10.2.7.1

Host *.devuan.org
	IdentityFile ~/.ssh/devuan-dot-org
	PubkeyAuthentication yes
	PasswordAuthentication no


Host boxos
	Port 22
	IdentityFile ~/.ssh/boxman
	User app
	PubkeyAuthentication yes
	PasswordAuthentication no
	LogLevel ERROR

Host gituser.foobar.net
	Hostname foobar.net
	Port 22
	IdentityFile ~/.ssh/id_rsa
	User gituser
	PubkeyAuthentication yes
	PasswordAuthentication no
	LogLevel ERROR


Host foobar.keys.net
	Hostname 101.23.100.101
	Port 22
	IdentityFile ~/.ssh/keyman
	User root
	PubkeyAuthentication yes
	PasswordAuthentication no
	LogLevel ERROR
	ProxyJump foob-1
	
Host nat-1.foobar.com
	Port 22
	IdentityFile ~/.ssh/id_rsa
	User vox
	PubkeyAuthentication yes
	PasswordAuthentication no
	LogLevel ERROR
	#ProxyJump bnull.net
Host 192.168.1.23
	Port 22
	IdentityFile ~/.ssh/id_rsa2
	User app
	PubkeyAuthentication yes
	PasswordAuthentication no
	LogLevel ERROR

Host irc
	Port 22
	PasswordAuthentication yes
	User appirc
	Hostname foobar.net

Host github.com
	IdentityFile ~/.ssh/id_rsa
	PasswordAuthentication no
	PubkeyAuthentication yes
	User git
	Port 22

Host pi
	HostName 192.168.11.42
	IdentityFile ~/.ssh/id_rsa
	PasswordAuthentication no
	PubkeyAuthentication yes
	User pi
	Port 22

Host fire
	Hostname fire.bnull.net
	PubkeyAuthentication yes
	PasswordAuthentication no
	IdentityFile ~/.ssh/fire
	ProxyJump bnull.net
	User root
	Port 22


	#Host luna
	#	Hostname luna.bnull.net
	#	PubkeyAuthentication yes
	#	PasswordAuthentication no
	#	IdentityFile ~/.ssh/luna
	#	ProxyJump bnull.net
	#	Port 22

Host 110.111.2.113
	IdentityFile ~/.ssh/luna-temp
	ProxyJump foobar.net
	User root
	Port 22

Host *.foobar.com
	IdentityFile ~/.ssh/foobar/specialized
	User foobarapp
	Port 1022


